<section id="testimonials-home">
  <h2>Testimonials</h2>
  <div class="testimonial-carousel-container">
    <ul class="testimonial-slider">
      <li>
        <p class="testimonial-text">"I've been managing a lower back and glute injury for three years. Training with Michael has allowed me to slowly restore function and strength through his meticulous and specific style of training. I would highly recommend him as a Functional Patterns trainer and overall PT!"</p>
        <div class="testimonial-details">
          <p class="name-age">- Dilana Nagasinghe</p>
          <div class="star-rating">★★★★★</div>
        </div>
      </li>
      <li>
        <p class="testimonial-text">"Michael is an amazing trainer. He has so much knowledge. I am already seeing and feeling changes in my posture, and ability to better recruit my muscles. I am moving more easily, and am more aware of my body and posture. I am looking forward to continuing and seeing what other improvements are possible."</p>
        <div class="testimonial-details">
          <p class="name-age">- Amanda Morgan</p>
          <div class="star-rating">★★★★★</div>
        </div>
      </li>
      <li>
        <p class="testimonial-text">"I had shoulder, hip and knee issues and Michael was absolutely fantastic. He is super knowledgeable on general PT and Functional Patterns, and allowed me to gradually move pain free! Truly couldn't recommend him enough"</p>
        <div class="testimonial-details">
          <p class="name-age">- Oliver Bryant</p>
          <div class="star-rating">★★★★★</div>
        </div>
      </li>
      <li>
        <p class="testimonial-text">"I spent 6 months training with Michael and it greatly improved my posture and the way I move. Michael's passion for Functional Patterns was evident in each session as he always went above and beyond to ensure all the exercises were executed perfectly to optimise results and explain the mechanics and reasoning for performing each exercise. Would highly recommend Michael if you face any pains or want to become a better athlete"</p>
        <div class="testimonial-details">
          <p class="name-age">- Vishal Adhikari</p>
          <div class="star-rating">★★★★★</div>
        </div>
      </li>
      <li>
        <p class="testimonial-text">"I've been training with Michael for 3 months and I'm really happy with the progress. He's professional, knowledgeable, and truly passionate about what he does. Always patient and respectful, he creates a comfortable space to train while staying focused on results. Highly recommend!"</p>
        <div class="testimonial-details">
          <p class="name-age">- Sara Jerdak</p>
          <div class="star-rating">★★★★★</div>
        </div>
      </li>
      <li>
        <p class="testimonial-text">"Working with Michael in Malvern East has been game-changing for my posture and movement. I've struggled with poor posture and stiffness for years, but through Functional Patterns training each session builds on the last and the improvements have been incredible. My daily comfort, mobility, and confidence keep getting better. If you're looking in Melbourne for functional patterns, posture correction, pain relief, or better movement health, I can't recommend him enough!"</p>
        <div class="testimonial-details">
          <p class="name-age">- Taras Cheprakov</p>
          <div class="star-rating">★★★★★</div>
        </div>
      </li>
      <li>
        <p class="testimonial-text">"Oesteos and physios didn't really help my hip after a skiing accident that I really struggled to recover from 2 years ago. After 3 months of training Functional Patterns with Mick just once a week I can put socks on without sitting down and my day-to-day movement is undeniably improving quickly. I can't recommend Mick enough if you are looking for personal training or more specifically after Functional Patterns training in Malvern East."</p>
        <div class="testimonial-details">
          <p class="name-age">- Alexander Parker</p>
          <div class="star-rating">★★★★★</div>
        </div>
      </li>
      <li>
        <p class="testimonial-text">"The first thing I noticed when training with Michael was that I had to adjust the rear-view mirror in the car because I was sitting so much more upright. I had a hunched posture for a really long time as well as a significant left/right hip imbalance from years of competitive cycling in a slightly skewed position. Michael made significant improvements to both my posture and my left/right mobility fairly soon after I started training Functional Patterns with him. This has had flow on benefits to my awareness of my position on the bike and in other sports."</p>
        <div class="testimonial-details">
          <p class="name-age">- Charlie Barber</p>
          <div class="star-rating">★★★★★</div>
        </div>
      </li>
    </ul>
    <button aria-label="Previous testimonial" class="carousel-button prev">❮</button>
    <button aria-label="Next testimonial" class="carousel-button next">❯</button>
  </div>
</section>
